@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    list-style: none;
}

main.ng-enter {
    transition:0.5s linear all;
    opacity:0;
  }
  
main.ng-enter.ng-enter-active {
    opacity:1;
  }
